<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel=stylesheet href="resources/global.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Lab App</title>
	<% include partials/frameworks %>
</head>
<body>
	<header>
			<div class="container" src="" >
				<div id="branding">
					<h1><span class="highlight">Sparta</span>Global</h1>
				</div>

				<nav>
					<ul>
						<li class="current"><a href="index.html">Home</a></li>
						<li><a href="#">Reports</a></li>
						<li><a href="#">Labs</a></li>
					</ul>
				</nav>
			</div>
		</header>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h2>Welcome to landing-page</h1>
				<table>
					<tbody>
						<tr>
							<th>Student Name</th>
							<th>Teacher Name</th>
							<th>Score</th>
							<th>Lab Name</th>
							<th>Time</th>
							<th>Date</th>
						</tr>
	            			<% for (var i in results) { %>
			            <tr>
			                <td>
			                        <%= results[i].studentName %>
			                    </td>
			                    <td>
			                        <%= results[i].teacherName %>
			                    </td>
			                    <td>
			                        <%= results[i].score %>
			                    </td>
			                    <td>
			                        <%= results[i].labName %>
			                    </td>
			                    <td>
			                        <%= results[i].time %>
			                    </td>
			                    <td>
			                        <%= results[i].date %>
			                    </td>
			                    
			                <% } %>
			            </tr>
        			</tbody>
    			</table>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class="jumbotron">
			<p id="platform_1">
		</div>
	</div>
	<footer id="newsletter">
			<div class="container">
				<h1>Sparta Global</h1>
				<p>People over Concept over Tools</p>
				<!-- <form action="process.PHP"> This method links -->
				<form>
					<p>&copy <a href="https://github.com/DTirlungeanu" target="_blank">Dragos Tirlungeanu 2018</a></p>
				</form>
			</div>
		</footer>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>