<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">

	<title>Lab App</title>
	<% include partials/frameworks %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h2></h2>
				<table>
					<tbody>
						<tr>
							<th>Student Name</th>
							<th>Teacher Name</th>
							<th>Score</th>
							<th>Lab Name</th>
							<th>Time</th>
							<th>Date</th>
						</tr>
	            			<% for (var i in results) { %>
			            <tr>
			                <td>
			                        <%= results[i].studentName %>
			                    </td>
			                    <td>
			                        <%= results[i].teacherName %>
			                    </td>
			                    <td>
			                        <%= results[i].score %>
			                    </td>
			                    <td>
			                        <%= results[i].labName %>
			                    </td>
			                    <td>
			                        <%= results[i].time %>
			                    </td>
			                    <td>
			                        <%= results[i].date %>
			                    </td>
			                    
			                <% } %>
			            </tr>
        			</tbody>
    			</table>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class="jumbotron">
			<p id="platform_1">
		</div>
	</div>
	<footer id="newsletter">
		<div class="container">
			<h1>Sparta Global</h1>
			<p>People over Concept over Tools</p>
		</div>
	</footer>
</body>
</html>